body{
    margin: 0;
}
.headCont{
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
    gap: 35px;
    justify-content: end;
    align-items: center;
    padding-right: 60px;
    
}

.headCont > .title{
    flex-grow: 4;
    justify-content: start;
    margin: 15px;
    padding-left: 60px;

}

.headCont > .link{
    margin: 15px;
    
}

.hText{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;

}

.hImg{
    display: flex;
}

