body{
    margin: 0;
}

/* Header // Primera parte del website */
.headCont{
    background-color: #1F2937;
    display: flex; 
    color: #F9FAF8;
    gap: 35px;
    justify-content: end;
    align-items: center;
    padding-right: 150px;    
}

.headCont > .title{
    flex-grow: 4;
    justify-content: start;
    margin: 15px;
    padding-left: 150px;

}

.headCont > .link{
    margin: 15px;
    
}

/* Hero Text // segunda parte del webstie para ponerle nombre */
.heroCont{
    background-color: #1F2937;
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    border: 2px solid gold;
}

.hText{    
    border: 2px solid silver;
    flex: 1 1 200px;
    
}

.Title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

.hDesc{
    font-size: 18px;
    color: #E5E7EB;
}

.hImg{
    display:flex;
    flex: 2 1 100px;
    color: #E5E7EB;
    border: 2px solid orange;
    justify-content: end;
}

#image{
    width: 80%;
    height: 80%;
}

.button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    border: transparent;  
    font-size: 18px;
    font-weight: bold;    
}

.sign{    
    padding-top: 10px;
}

/* information Text // tercera parte del website */

